
.parte_superior{
height:10%;
margin-top: 15px;
}

.parte_inferior{
height:80%;

}

/*PARTE SUPERIOR*/

.parte_superior_texto{
font-size: 30px;
font-family: cursive;	
vertical-align: middle;
position: relative;
top: 25px;


}
.parte_superior_texto_direccion{
font-size: 14px;
font-family: cursive;	
vertical-align: middle;
color: #6B6969;
text-decoration: none;
}
.parte_superior_texto_direccion:hover{
color: #3C3B3B;
}
.parte_superior_titulo{
text-align: left;
font-size: 30px;
width: 88%;
vertical-align: middle;
display: inline-block;
}
.parte_superior_iconos{
font-size: 20px;
width: 8.5%;
display: inline-block;
background: #32BCAA;

}

.parte_superior_iconos_facebook{
text-decoration: none;
color: #474545;
vertical-align: middle;
}

.parte_superior_iconos_facebook:hover{

color: #1328C4;

}

.parte_superior_iconos_twitter{
text-decoration: none;
color: #474545;
font-size:24px; 
vertical-align: middle;
}
.parte_superior_iconos_twitter:hover{
color: #15BEE8;

}

.parte_superior_iconos_youtobe{
text-decoration: none;
color: #474545;
font-size:28px; 
vertical-align: middle;
}

.parte_superior_iconos_youtobe:hover{
color: #E80C0C;

}

.parte_superior_iconos_instagram{
text-decoration: none;
color: #474545;
font-size:22px; 
vertical-align: middle;
}

.parte_superior_iconos_instagram:hover{
color: #E716E5;

}


/*PARTE INFERIOR*/
.parte_imagen{
width: 420px;
height:500px;
/*background: #6F997E;*/
display: inline-block;
vertical-align:top;

}

.parte_especificaciones{
width: 380px;
height: 500px;
display: inline-block;
overflow:hidden;
}

.parte_contacto{
width: 465px;
height: 500px;
display: inline-block;
overflow:hidden;
}
/*PARTE IMEGEN*/
.imagen_tamaño_pag2{
width:400px;
height: 450px;
}

/*PARTE ESPECIFICACIONES*/
.parte_especificaciones_contenido{
color: #616161;
font-size:16px;
font-family:arial;
letter-spacing: 1px;

}
.parte_especificaciones_div{
font-size:16px;
font-family:cursive;

}

/*PARTE CONTACTOS*/
.contacto_superior{
height:100px;
text-align: center;
}
.contacto_medio{
height: 400px;
overflow:hidden;

}
.contacto_inferior{
height: 100px;
overflow:hidden;


/*background: #3764E5;*/
}

/*PARTE SUPERIOR CONTACTOS*/
.contacto_superior_monto{
	font-size: 30px;
	font-family: cursive;
	color: #940909;
}

.contacto_superior_precio{
	font-size: 20px;
	font-family: cursive;
	color: #000000;
}

.myButton_postular{
	background:#333634;
-moz-border-radius:28px;
-webkit-border-radius:28px;
border-radius:8px;
display:inline-block;
cursor:pointer;
color:#FFFFFF;
font-family:Arial;
font-size:17px;
padding:8px 155px;
text-decoration:none;
text-shadow:0px 0.5px 0px #2f6627;

}
.myButton_postular:hover {
background-color:#1FAB54;
	color: #FFFFFF;
}
.myButton_postular:active {
	background-color:#249950;
	color: #FFFFFF;
}
/*PARTE MEDIO CONTACTO*/

.contacto_medio_div_formulario{
	display: inline-block;
	overflow:hidden;
	text-align: left;
	font-family:arial;
	font-size: 14px;
	margin-left: 40px;
}
.contacto_medio_div_formulario_input{
width: 400px;
height:30px;
border-top: none;
border-right: none;
border-left: none;
padding-left:10px;
background: transparent;


}
.contacto_medio_div_formulario_input_file{
width: 400px;
height:30px;
background: transparent;
border: none;

}
.contacto_medio_div_formulario_input:focus{
	outline: 0px;
border-bottom-color:#18C459; 
}


.contacto_medio_recojo_texto{
	font-size: 20px;
	font-family: cursive;
	color:#817F7F;
}
.contacto_medio_recojo_texto:hover
{
	color: #4C4C4C;
}

.contacto_medio_div_recojo{
	display: inline-block;
	overflow:hidden;
    text-align: center;
    margin-left: 40px;
    text-align: left;
    font-size: 16px;
}

.contacto_medio_div_recojo_num_dias{
	display: inline-block;
	overflow:hidden;
	font-size: 30px;
	font-weight: bolder;
	color: #AE0B0B;
	vertical-align: middle;

}

.contacto_medio_div_recojo_texto_dias{
	display: inline-block;
	overflow:hidden;
    font-size: 18px;
	vertical-align: middle;
}


/*ESTRELLITAS*/
.ec-stars-wrapper {
	/* Espacio entre los inline-block (los hijos, los `a`) 
	   http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
	font-size: 0;
	/* Podríamos quitarlo, 
		pero de esta manera (siempre que no le demos padding), 
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
	display: inline-block;
}
.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	/* Volver a dar tamaño al texto */
	font-size: 32px;
	font-size: 2rem;
	
	color: #888;
}

.ec-stars-wrapper:hover a {
	color:#0D9C17;
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
	color: #888;
}

/*PARTE INFERIOR CONTACTO*/

.contacto_inferior_link{
text-decoration: none;
font-size:15px;
margin-left:250px;
color:#616161;
font-family: arial;
}
.contacto_inferior_link:hover{
	color: #13DC2F;
}
.contacto_inferior_link_icono_llamar{
font-size: 25px;
vertical-align: middle;
color: #12F012;

}
.contacto_inferior_link_icono_candado{
font-size: 25px;
vertical-align: middle;
color: #EBE426;
margin-left:5px;
margin-right: -5px;
}
.contacto_inferior_link_div{
display: inline-block;
overflow:hidden;
vertical-align: middle;
margin-left:5px;


}

.contacto_inferior_texto_mapa{
font-size: 14px;
font-family: arial;
color: #242424;


}
