    /*
    Flaticon icon font: Flaticon
    Creation date: 06/02/2017 04:43
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-ajustes:before { content: "\f100"; }
.flaticon-ajustes-1:before { content: "\f101"; }
.flaticon-archivo:before { content: "\f102"; }
.flaticon-avance-rapido:before { content: "\f103"; }
.flaticon-avatar:before { content: "\f104"; }
.flaticon-avena:before { content: "\f105"; }
.flaticon-avion-de-papel:before { content: "\f106"; }
.flaticon-base-de-datos:before { content: "\f107"; }
.flaticon-bateria-carga-media:before { content: "\f108"; }
.flaticon-bloqueado:before { content: "\f109"; }
.flaticon-bloquear:before { content: "\f10a"; }
.flaticon-bloquear-1:before { content: "\f10b"; }
.flaticon-bloquear-2:before { content: "\f10c"; }
.flaticon-bloquear-3:before { content: "\f10d"; }
.flaticon-borrar:before { content: "\f10e"; }
.flaticon-borrar-1:before { content: "\f10f"; }
.flaticon-borrar-2:before { content: "\f110"; }
.flaticon-borrar-3:before { content: "\f111"; }
.flaticon-borrar-4:before { content: "\f112"; }
.flaticon-borrar-5:before { content: "\f113"; }
.flaticon-borrar-6:before { content: "\f114"; }
.flaticon-borrar-7:before { content: "\f115"; }
.flaticon-borrar-8:before { content: "\f116"; }
.flaticon-boton-de-menu-de-tres-lineas-horizontales:before { content: "\f117"; }
.flaticon-boton-de-reproduccion:before { content: "\f118"; }
.flaticon-boton-de-reproduccion-1:before { content: "\f119"; }
.flaticon-boton-eliminar:before { content: "\f11a"; }
.flaticon-boton-redondo-eliminar:before { content: "\f11b"; }
.flaticon-brujula:before { content: "\f11c"; }
.flaticon-buscar:before { content: "\f11d"; }
.flaticon-buscar-lupa-simbolo-de-interfaz:before { content: "\f11e"; }
.flaticon-busqueda:before { content: "\f11f"; }
.flaticon-busqueda-1:before { content: "\f120"; }
.flaticon-cafe:before { content: "\f121"; }
.flaticon-cafe-1:before { content: "\f122"; }
.flaticon-camara-de-fotos:before { content: "\f123"; }
.flaticon-cancelar:before { content: "\f124"; }
.flaticon-casa:before { content: "\f125"; }
.flaticon-casa-1:before { content: "\f126"; }
.flaticon-casa-2:before { content: "\f127"; }
.flaticon-casa-3:before { content: "\f128"; }
.flaticon-casa-4:before { content: "\f129"; }
.flaticon-cerrar:before { content: "\f12a"; }
.flaticon-clave:before { content: "\f12b"; }
.flaticon-clip-sujetapapeles:before { content: "\f12c"; }
.flaticon-comercio:before { content: "\f12d"; }
.flaticon-comercio-1:before { content: "\f12e"; }
.flaticon-comercio-2:before { content: "\f12f"; }
.flaticon-comida:before { content: "\f130"; }
.flaticon-comida-1:before { content: "\f131"; }
.flaticon-comida-2:before { content: "\f132"; }
.flaticon-comida-3:before { content: "\f133"; }
.flaticon-comida-4:before { content: "\f134"; }
.flaticon-comida-5:before { content: "\f135"; }
.flaticon-comida-6:before { content: "\f136"; }
.flaticon-compras:before { content: "\f137"; }
.flaticon-compras-1:before { content: "\f138"; }
.flaticon-compras-2:before { content: "\f139"; }
.flaticon-compras-3:before { content: "\f13a"; }
.flaticon-comprobado:before { content: "\f13b"; }
.flaticon-comunicacion:before { content: "\f13c"; }
.flaticon-construccion:before { content: "\f13d"; }
.flaticon-contorno-de-avion:before { content: "\f13e"; }
.flaticon-corazon:before { content: "\f13f"; }
.flaticon-descargar-de-la-nube:before { content: "\f140"; }
.flaticon-detener:before { content: "\f141"; }
.flaticon-dinero:before { content: "\f142"; }
.flaticon-dinero-1:before { content: "\f143"; }
.flaticon-dinero-2:before { content: "\f144"; }
.flaticon-dinero-3:before { content: "\f145"; }
.flaticon-dinero-4:before { content: "\f146"; }
.flaticon-dinero-5:before { content: "\f147"; }
.flaticon-dinero-6:before { content: "\f148"; }
.flaticon-dinero-7:before { content: "\f149"; }
.flaticon-dinero-8:before { content: "\f14a"; }
.flaticon-edificio:before { content: "\f14b"; }
.flaticon-edificios:before { content: "\f14c"; }
.flaticon-edificios-1:before { content: "\f14d"; }
.flaticon-eliminar:before { content: "\f14e"; }
.flaticon-eliminar-1:before { content: "\f14f"; }
.flaticon-eliminar-2:before { content: "\f150"; }
.flaticon-escudo:before { content: "\f151"; }
.flaticon-escudo-1:before { content: "\f152"; }
.flaticon-escudo-2:before { content: "\f153"; }
.flaticon-escudo-3:before { content: "\f154"; }
.flaticon-escudo-4:before { content: "\f155"; }
.flaticon-eslabones-de-cadena:before { content: "\f156"; }
.flaticon-espalda:before { content: "\f157"; }
.flaticon-espalda-1:before { content: "\f158"; }
.flaticon-estrella:before { content: "\f159"; }
.flaticon-etiqueta:before { content: "\f15a"; }
.flaticon-etiqueta-1:before { content: "\f15b"; }
.flaticon-etiqueta-del-precio:before { content: "\f15c"; }
.flaticon-expulsar:before { content: "\f15d"; }
.flaticon-facebook-logo-en-boton-circular-esbozado-de-social-simbolo:before { content: "\f15e"; }
.flaticon-flecha-circular:before { content: "\f15f"; }
.flaticon-flecha-circular-1:before { content: "\f160"; }
.flaticon-flecha-de-descarga:before { content: "\f161"; }
.flaticon-flecha-de-descarga-1:before { content: "\f162"; }
.flaticon-flecha-de-descarga-2:before { content: "\f163"; }
.flaticon-flecha-derecha:before { content: "\f164"; }
.flaticon-flecha-derecha-1:before { content: "\f165"; }
.flaticon-flecha-derecha-2:before { content: "\f166"; }
.flaticon-flecha-hacia-abajo:before { content: "\f167"; }
.flaticon-flecha-hacia-arriba:before { content: "\f168"; }
.flaticon-flecha-hacia-arriba-1:before { content: "\f169"; }
.flaticon-flecha-izquierda:before { content: "\f16a"; }
.flaticon-flechas:before { content: "\f16b"; }
.flaticon-flechas-1:before { content: "\f16c"; }
.flaticon-flechas-2:before { content: "\f16d"; }
.flaticon-flechas-3:before { content: "\f16e"; }
.flaticon-flechas-4:before { content: "\f16f"; }
.flaticon-flechas-5:before { content: "\f170"; }
.flaticon-flechas-6:before { content: "\f171"; }
.flaticon-flechas-7:before { content: "\f172"; }
.flaticon-flechas-8:before { content: "\f173"; }
.flaticon-flechas-9:before { content: "\f174"; }
.flaticon-formas:before { content: "\f175"; }
.flaticon-foto:before { content: "\f176"; }
.flaticon-foto-1:before { content: "\f177"; }
.flaticon-foto-10:before { content: "\f178"; }
.flaticon-foto-11:before { content: "\f179"; }
.flaticon-foto-2:before { content: "\f17a"; }
.flaticon-foto-3:before { content: "\f17b"; }
.flaticon-foto-4:before { content: "\f17c"; }
.flaticon-foto-5:before { content: "\f17d"; }
.flaticon-foto-6:before { content: "\f17e"; }
.flaticon-foto-7:before { content: "\f17f"; }
.flaticon-foto-8:before { content: "\f180"; }
.flaticon-foto-9:before { content: "\f181"; }
.flaticon-fruta:before { content: "\f182"; }
.flaticon-fruta-1:before { content: "\f183"; }
.flaticon-fruta-2:before { content: "\f184"; }
.flaticon-fruta-3:before { content: "\f185"; }
.flaticon-fruta-4:before { content: "\f186"; }
.flaticon-globo-terraqueo:before { content: "\f187"; }
.flaticon-hogar:before { content: "\f188"; }
.flaticon-hoja:before { content: "\f189"; }
.flaticon-igualada:before { content: "\f18a"; }
.flaticon-imagen:before { content: "\f18b"; }
.flaticon-imagen-1:before { content: "\f18c"; }
.flaticon-info:before { content: "\f18d"; }
.flaticon-internet:before { content: "\f18e"; }
.flaticon-jugar:before { content: "\f18f"; }
.flaticon-jugar-1:before { content: "\f190"; }
.flaticon-jugar-2:before { content: "\f191"; }
.flaticon-la-computacion-en-nube:before { content: "\f192"; }
.flaticon-letra-x:before { content: "\f193"; }
.flaticon-linea:before { content: "\f194"; }
.flaticon-linea-1:before { content: "\f195"; }
.flaticon-lista:before { content: "\f196"; }
.flaticon-lista-1:before { content: "\f197"; }
.flaticon-los-granos-de-cafe:before { content: "\f198"; }
.flaticon-lupa:before { content: "\f199"; }
.flaticon-lupa-de-busqueda:before { content: "\f19a"; }
.flaticon-manzana:before { content: "\f19b"; }
.flaticon-manzana-1:before { content: "\f19c"; }
.flaticon-marcador-de-posicion:before { content: "\f19d"; }
.flaticon-marcador-de-posicion-1:before { content: "\f19e"; }
.flaticon-mas:before { content: "\f19f"; }
.flaticon-menos:before { content: "\f1a0"; }
.flaticon-menos-1:before { content: "\f1a1"; }
.flaticon-metodo-de-pago:before { content: "\f1a2"; }
.flaticon-microfono:before { content: "\f1a3"; }
.flaticon-multimedia:before { content: "\f1a4"; }
.flaticon-multimedia-1:before { content: "\f1a5"; }
.flaticon-musica:before { content: "\f1a6"; }
.flaticon-naturaleza:before { content: "\f1a7"; }
.flaticon-naturaleza-1:before { content: "\f1a8"; }
.flaticon-naturaleza-2:before { content: "\f1a9"; }
.flaticon-negocios:before { content: "\f1aa"; }
.flaticon-nube:before { content: "\f1ab"; }
.flaticon-ondas-de-senal:before { content: "\f1ac"; }
.flaticon-ordenador:before { content: "\f1ad"; }
.flaticon-ordenador-1:before { content: "\f1ae"; }
.flaticon-ordenador-2:before { content: "\f1af"; }
.flaticon-participacion:before { content: "\f1b0"; }
.flaticon-patatas:before { content: "\f1b1"; }
.flaticon-pausa:before { content: "\f1b2"; }
.flaticon-persona:before { content: "\f1b3"; }
.flaticon-personas:before { content: "\f1b4"; }
.flaticon-personas-1:before { content: "\f1b5"; }
.flaticon-personas-2:before { content: "\f1b6"; }
.flaticon-potencia:before { content: "\f1b7"; }
.flaticon-potencia-1:before { content: "\f1b8"; }
.flaticon-presupuesto:before { content: "\f1b9"; }
.flaticon-proximo:before { content: "\f1ba"; }
.flaticon-proximo-1:before { content: "\f1bb"; }
.flaticon-proximo-2:before { content: "\f1bc"; }
.flaticon-radio:before { content: "\f1bd"; }
.flaticon-rebobinar:before { content: "\f1be"; }
.flaticon-recargar:before { content: "\f1bf"; }
.flaticon-recargar-1:before { content: "\f1c0"; }
.flaticon-refrescar:before { content: "\f1c1"; }
.flaticon-reloj:before { content: "\f1c2"; }
.flaticon-reproducir:before { content: "\f1c3"; }
.flaticon-reproductor-de-musica:before { content: "\f1c4"; }
.flaticon-signos:before { content: "\f1c5"; }
.flaticon-simbolo:before { content: "\f1c6"; }
.flaticon-simbolo-de-resta:before { content: "\f1c7"; }
.flaticon-simbolo-de-suma:before { content: "\f1c8"; }
.flaticon-simbolos:before { content: "\f1c9"; }
.flaticon-simbolos-1:before { content: "\f1ca"; }
.flaticon-sobre:before { content: "\f1cb"; }
.flaticon-sobre-abierto:before { content: "\f1cc"; }
.flaticon-social:before { content: "\f1cd"; }
.flaticon-social-1:before { content: "\f1ce"; }
.flaticon-subir-a-la-nube:before { content: "\f1cf"; }
.flaticon-tableta:before { content: "\f1d0"; }
.flaticon-tecnologia:before { content: "\f1d1"; }
.flaticon-tecnologia-1:before { content: "\f1d2"; }
.flaticon-tecnologia-10:before { content: "\f1d3"; }
.flaticon-tecnologia-2:before { content: "\f1d4"; }
.flaticon-tecnologia-3:before { content: "\f1d5"; }
.flaticon-tecnologia-4:before { content: "\f1d6"; }
.flaticon-tecnologia-5:before { content: "\f1d7"; }
.flaticon-tecnologia-6:before { content: "\f1d8"; }
.flaticon-tecnologia-7:before { content: "\f1d9"; }
.flaticon-tecnologia-8:before { content: "\f1da"; }
.flaticon-tecnologia-9:before { content: "\f1db"; }
.flaticon-transporte:before { content: "\f1dc"; }
.flaticon-transporte-1:before { content: "\f1dd"; }
.flaticon-transporte-2:before { content: "\f1de"; }
.flaticon-usuario:before { content: "\f1df"; }
.flaticon-usuario-1:before { content: "\f1e0"; }
.flaticon-vacaciones:before { content: "\f1e1"; }
.flaticon-volumen:before { content: "\f1e2"; }
.flaticon-volumen-1:before { content: "\f1e3"; }
.flaticon-web:before { content: "\f1e4"; }
.flaticon-wifi:before { content: "\f1e5"; }
.flaticon-zanahoria:before { content: "\f1e6"; }
    
    $font-Flaticon-ajustes: "\f100";
    $font-Flaticon-ajustes-1: "\f101";
    $font-Flaticon-archivo: "\f102";
    $font-Flaticon-avance-rapido: "\f103";
    $font-Flaticon-avatar: "\f104";
    $font-Flaticon-avena: "\f105";
    $font-Flaticon-avion-de-papel: "\f106";
    $font-Flaticon-base-de-datos: "\f107";
    $font-Flaticon-bateria-carga-media: "\f108";
    $font-Flaticon-bloqueado: "\f109";
    $font-Flaticon-bloquear: "\f10a";
    $font-Flaticon-bloquear-1: "\f10b";
    $font-Flaticon-bloquear-2: "\f10c";
    $font-Flaticon-bloquear-3: "\f10d";
    $font-Flaticon-borrar: "\f10e";
    $font-Flaticon-borrar-1: "\f10f";
    $font-Flaticon-borrar-2: "\f110";
    $font-Flaticon-borrar-3: "\f111";
    $font-Flaticon-borrar-4: "\f112";
    $font-Flaticon-borrar-5: "\f113";
    $font-Flaticon-borrar-6: "\f114";
    $font-Flaticon-borrar-7: "\f115";
    $font-Flaticon-borrar-8: "\f116";
    $font-Flaticon-boton-de-menu-de-tres-lineas-horizontales: "\f117";
    $font-Flaticon-boton-de-reproduccion: "\f118";
    $font-Flaticon-boton-de-reproduccion-1: "\f119";
    $font-Flaticon-boton-eliminar: "\f11a";
    $font-Flaticon-boton-redondo-eliminar: "\f11b";
    $font-Flaticon-brujula: "\f11c";
    $font-Flaticon-buscar: "\f11d";
    $font-Flaticon-buscar-lupa-simbolo-de-interfaz: "\f11e";
    $font-Flaticon-busqueda: "\f11f";
    $font-Flaticon-busqueda-1: "\f120";
    $font-Flaticon-cafe: "\f121";
    $font-Flaticon-cafe-1: "\f122";
    $font-Flaticon-camara-de-fotos: "\f123";
    $font-Flaticon-cancelar: "\f124";
    $font-Flaticon-casa: "\f125";
    $font-Flaticon-casa-1: "\f126";
    $font-Flaticon-casa-2: "\f127";
    $font-Flaticon-casa-3: "\f128";
    $font-Flaticon-casa-4: "\f129";
    $font-Flaticon-cerrar: "\f12a";
    $font-Flaticon-clave: "\f12b";
    $font-Flaticon-clip-sujetapapeles: "\f12c";
    $font-Flaticon-comercio: "\f12d";
    $font-Flaticon-comercio-1: "\f12e";
    $font-Flaticon-comercio-2: "\f12f";
    $font-Flaticon-comida: "\f130";
    $font-Flaticon-comida-1: "\f131";
    $font-Flaticon-comida-2: "\f132";
    $font-Flaticon-comida-3: "\f133";
    $font-Flaticon-comida-4: "\f134";
    $font-Flaticon-comida-5: "\f135";
    $font-Flaticon-comida-6: "\f136";
    $font-Flaticon-compras: "\f137";
    $font-Flaticon-compras-1: "\f138";
    $font-Flaticon-compras-2: "\f139";
    $font-Flaticon-compras-3: "\f13a";
    $font-Flaticon-comprobado: "\f13b";
    $font-Flaticon-comunicacion: "\f13c";
    $font-Flaticon-construccion: "\f13d";
    $font-Flaticon-contorno-de-avion: "\f13e";
    $font-Flaticon-corazon: "\f13f";
    $font-Flaticon-descargar-de-la-nube: "\f140";
    $font-Flaticon-detener: "\f141";
    $font-Flaticon-dinero: "\f142";
    $font-Flaticon-dinero-1: "\f143";
    $font-Flaticon-dinero-2: "\f144";
    $font-Flaticon-dinero-3: "\f145";
    $font-Flaticon-dinero-4: "\f146";
    $font-Flaticon-dinero-5: "\f147";
    $font-Flaticon-dinero-6: "\f148";
    $font-Flaticon-dinero-7: "\f149";
    $font-Flaticon-dinero-8: "\f14a";
    $font-Flaticon-edificio: "\f14b";
    $font-Flaticon-edificios: "\f14c";
    $font-Flaticon-edificios-1: "\f14d";
    $font-Flaticon-eliminar: "\f14e";
    $font-Flaticon-eliminar-1: "\f14f";
    $font-Flaticon-eliminar-2: "\f150";
    $font-Flaticon-escudo: "\f151";
    $font-Flaticon-escudo-1: "\f152";
    $font-Flaticon-escudo-2: "\f153";
    $font-Flaticon-escudo-3: "\f154";
    $font-Flaticon-escudo-4: "\f155";
    $font-Flaticon-eslabones-de-cadena: "\f156";
    $font-Flaticon-espalda: "\f157";
    $font-Flaticon-espalda-1: "\f158";
    $font-Flaticon-estrella: "\f159";
    $font-Flaticon-etiqueta: "\f15a";
    $font-Flaticon-etiqueta-1: "\f15b";
    $font-Flaticon-etiqueta-del-precio: "\f15c";
    $font-Flaticon-expulsar: "\f15d";
    $font-Flaticon-facebook-logo-en-boton-circular-esbozado-de-social-simbolo: "\f15e";
    $font-Flaticon-flecha-circular: "\f15f";
    $font-Flaticon-flecha-circular-1: "\f160";
    $font-Flaticon-flecha-de-descarga: "\f161";
    $font-Flaticon-flecha-de-descarga-1: "\f162";
    $font-Flaticon-flecha-de-descarga-2: "\f163";
    $font-Flaticon-flecha-derecha: "\f164";
    $font-Flaticon-flecha-derecha-1: "\f165";
    $font-Flaticon-flecha-derecha-2: "\f166";
    $font-Flaticon-flecha-hacia-abajo: "\f167";
    $font-Flaticon-flecha-hacia-arriba: "\f168";
    $font-Flaticon-flecha-hacia-arriba-1: "\f169";
    $font-Flaticon-flecha-izquierda: "\f16a";
    $font-Flaticon-flechas: "\f16b";
    $font-Flaticon-flechas-1: "\f16c";
    $font-Flaticon-flechas-2: "\f16d";
    $font-Flaticon-flechas-3: "\f16e";
    $font-Flaticon-flechas-4: "\f16f";
    $font-Flaticon-flechas-5: "\f170";
    $font-Flaticon-flechas-6: "\f171";
    $font-Flaticon-flechas-7: "\f172";
    $font-Flaticon-flechas-8: "\f173";
    $font-Flaticon-flechas-9: "\f174";
    $font-Flaticon-formas: "\f175";
    $font-Flaticon-foto: "\f176";
    $font-Flaticon-foto-1: "\f177";
    $font-Flaticon-foto-10: "\f178";
    $font-Flaticon-foto-11: "\f179";
    $font-Flaticon-foto-2: "\f17a";
    $font-Flaticon-foto-3: "\f17b";
    $font-Flaticon-foto-4: "\f17c";
    $font-Flaticon-foto-5: "\f17d";
    $font-Flaticon-foto-6: "\f17e";
    $font-Flaticon-foto-7: "\f17f";
    $font-Flaticon-foto-8: "\f180";
    $font-Flaticon-foto-9: "\f181";
    $font-Flaticon-fruta: "\f182";
    $font-Flaticon-fruta-1: "\f183";
    $font-Flaticon-fruta-2: "\f184";
    $font-Flaticon-fruta-3: "\f185";
    $font-Flaticon-fruta-4: "\f186";
    $font-Flaticon-globo-terraqueo: "\f187";
    $font-Flaticon-hogar: "\f188";
    $font-Flaticon-hoja: "\f189";
    $font-Flaticon-igualada: "\f18a";
    $font-Flaticon-imagen: "\f18b";
    $font-Flaticon-imagen-1: "\f18c";
    $font-Flaticon-info: "\f18d";
    $font-Flaticon-internet: "\f18e";
    $font-Flaticon-jugar: "\f18f";
    $font-Flaticon-jugar-1: "\f190";
    $font-Flaticon-jugar-2: "\f191";
    $font-Flaticon-la-computacion-en-nube: "\f192";
    $font-Flaticon-letra-x: "\f193";
    $font-Flaticon-linea: "\f194";
    $font-Flaticon-linea-1: "\f195";
    $font-Flaticon-lista: "\f196";
    $font-Flaticon-lista-1: "\f197";
    $font-Flaticon-los-granos-de-cafe: "\f198";
    $font-Flaticon-lupa: "\f199";
    $font-Flaticon-lupa-de-busqueda: "\f19a";
    $font-Flaticon-manzana: "\f19b";
    $font-Flaticon-manzana-1: "\f19c";
    $font-Flaticon-marcador-de-posicion: "\f19d";
    $font-Flaticon-marcador-de-posicion-1: "\f19e";
    $font-Flaticon-mas: "\f19f";
    $font-Flaticon-menos: "\f1a0";
    $font-Flaticon-menos-1: "\f1a1";
    $font-Flaticon-metodo-de-pago: "\f1a2";
    $font-Flaticon-microfono: "\f1a3";
    $font-Flaticon-multimedia: "\f1a4";
    $font-Flaticon-multimedia-1: "\f1a5";
    $font-Flaticon-musica: "\f1a6";
    $font-Flaticon-naturaleza: "\f1a7";
    $font-Flaticon-naturaleza-1: "\f1a8";
    $font-Flaticon-naturaleza-2: "\f1a9";
    $font-Flaticon-negocios: "\f1aa";
    $font-Flaticon-nube: "\f1ab";
    $font-Flaticon-ondas-de-senal: "\f1ac";
    $font-Flaticon-ordenador: "\f1ad";
    $font-Flaticon-ordenador-1: "\f1ae";
    $font-Flaticon-ordenador-2: "\f1af";
    $font-Flaticon-participacion: "\f1b0";
    $font-Flaticon-patatas: "\f1b1";
    $font-Flaticon-pausa: "\f1b2";
    $font-Flaticon-persona: "\f1b3";
    $font-Flaticon-personas: "\f1b4";
    $font-Flaticon-personas-1: "\f1b5";
    $font-Flaticon-personas-2: "\f1b6";
    $font-Flaticon-potencia: "\f1b7";
    $font-Flaticon-potencia-1: "\f1b8";
    $font-Flaticon-presupuesto: "\f1b9";
    $font-Flaticon-proximo: "\f1ba";
    $font-Flaticon-proximo-1: "\f1bb";
    $font-Flaticon-proximo-2: "\f1bc";
    $font-Flaticon-radio: "\f1bd";
    $font-Flaticon-rebobinar: "\f1be";
    $font-Flaticon-recargar: "\f1bf";
    $font-Flaticon-recargar-1: "\f1c0";
    $font-Flaticon-refrescar: "\f1c1";
    $font-Flaticon-reloj: "\f1c2";
    $font-Flaticon-reproducir: "\f1c3";
    $font-Flaticon-reproductor-de-musica: "\f1c4";
    $font-Flaticon-signos: "\f1c5";
    $font-Flaticon-simbolo: "\f1c6";
    $font-Flaticon-simbolo-de-resta: "\f1c7";
    $font-Flaticon-simbolo-de-suma: "\f1c8";
    $font-Flaticon-simbolos: "\f1c9";
    $font-Flaticon-simbolos-1: "\f1ca";
    $font-Flaticon-sobre: "\f1cb";
    $font-Flaticon-sobre-abierto: "\f1cc";
    $font-Flaticon-social: "\f1cd";
    $font-Flaticon-social-1: "\f1ce";
    $font-Flaticon-subir-a-la-nube: "\f1cf";
    $font-Flaticon-tableta: "\f1d0";
    $font-Flaticon-tecnologia: "\f1d1";
    $font-Flaticon-tecnologia-1: "\f1d2";
    $font-Flaticon-tecnologia-10: "\f1d3";
    $font-Flaticon-tecnologia-2: "\f1d4";
    $font-Flaticon-tecnologia-3: "\f1d5";
    $font-Flaticon-tecnologia-4: "\f1d6";
    $font-Flaticon-tecnologia-5: "\f1d7";
    $font-Flaticon-tecnologia-6: "\f1d8";
    $font-Flaticon-tecnologia-7: "\f1d9";
    $font-Flaticon-tecnologia-8: "\f1da";
    $font-Flaticon-tecnologia-9: "\f1db";
    $font-Flaticon-transporte: "\f1dc";
    $font-Flaticon-transporte-1: "\f1dd";
    $font-Flaticon-transporte-2: "\f1de";
    $font-Flaticon-usuario: "\f1df";
    $font-Flaticon-usuario-1: "\f1e0";
    $font-Flaticon-vacaciones: "\f1e1";
    $font-Flaticon-volumen: "\f1e2";
    $font-Flaticon-volumen-1: "\f1e3";
    $font-Flaticon-web: "\f1e4";
    $font-Flaticon-wifi: "\f1e5";
    $font-Flaticon-zanahoria: "\f1e6";